/*====================================
        GOOGLE FONT
====================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8f9fa;
    overflow-x:hidden;
}

.navbar{
    background:#111827 !important;
}

.navbar-brand{
    color:#fbbf24 !important;
}

.navbar-nav .nav-link{
    color:#fff !important;
    margin:0 10px;
    font-weight:600;
    transition:.3s;
}

.navbar-nav .nav-link:hover{
    color:#fbbf24 !important;
}

.navbar-nav .nav-link.active{
    color:#fbbf24 !important;
    border-bottom:3px solid #fbbf24;
}

.form-control{
    border-radius:8px;
}

.btn-warning{
    font-weight:600;
}
.product-card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:.4s;
}

.product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

.product-card img{
    transition:.4s;
}

.product-card:hover img{
    transform:scale(1.08);
}

.form-select{
    height:50px;
}

.btn{
    border-radius:30px;
}

.bg-primary{
    background:linear-gradient(135deg,#0d6efd,#00bfff)!important;
}
/* Product Animation */

.product-card{
    transition:.4s ease;
    border-radius:18px;
}

.product-card:hover{
    transform:translateY(-12px);
    box-shadow:0 18px 40px rgba(0,0,0,.18);
}

.product-card img{
    transition:.5s;
}

.product-card:hover img{
    transform:scale(1.08);
}

/* Buttons */

.btn{
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

/* Footer */

footer a{
    transition:.3s;
}

footer a:hover{
    color:#ffc107!important;
    padding-left:6px;
}

/* Hero Animation */

.hero-img{
    animation:float 4s ease-in-out infinite;
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0);
}

}
.brand-card{
    transition:0.35s;
    cursor:pointer;
    border-radius:18px;
}

.brand-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15)!important;
}

.brand-card img{
    transition:.3s;
}

.brand-card:hover img{
    transform:scale(1.12);
}

