/*====================================
        GOOGLE FONT
====================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8f9fa;
    overflow-x:hidden;
}

.img-fluid {
  max-width: 55%;
  height: auto;
}
.navbar{
    background:#111827 !important;
}

.navbar-brand{
    color:#fbbf24 !important;
}

.navbar-nav .nav-link{
    color:#fff !important;
    margin:0 10px;
    font-weight:600;
    transition:.3s;
}

.navbar-nav .nav-link:hover{
    color:#fbbf24 !important;
}

.navbar-nav .nav-link.active{
    color:#fbbf24 !important;
    border-bottom:3px solid #fbbf24;
}

.form-control{
    border-radius:8px;
}

.btn-warning{
    font-weight:600;
}
.product-card{
    transition:0.4s;
    border-radius:20px;
    overflow:hidden;
}

.product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(0,0,0,.15);
}

.product-card img{
    transition:.4s;
}

.product-card:hover img{
    transform:scale(1.08);
}

.product-card .btn{
    border-radius:30px;
}

.badge{
    font-size:13px;
    padding:8px 12px;
}
.product-card{
    transition:.4s;
    overflow:hidden;
    border-radius:18px;
}

.product-card:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,.18);
}

.product-card img{
    transition:.5s;
}

.product-card:hover img{
    transform:scale(1.08);
}

.product-card .btn{
    border-radius:30px;
}

.product-card .text-warning{
    font-size:18px;
}

.bg-primary{
    background:linear-gradient(135deg,#0d6efd,#00b4ff)!important;
}
footer{
    margin-top:60px;
}

footer a{
    transition:.3s;
}

footer a:hover{
    color:#ffc107!important;
    padding-left:6px;
}

.product-card{
    transition:.4s;
}

.product-card:hover{
    transform:translateY(-10px);
}

.input-group input{
    height:55px;
}

.input-group button{
    padding:0 30px;
}

